body{
    background: #BDBDBD;
}

.homeDinamic_RowComponents {
    background-image: url(https://www.harrypotter.com/images/home/stars.png), linear-gradient(180deg, #15111d, #323657 121.35%);
    background-position: 50% 101%, 50%, bottom !important;
    background-size: 2000px auto, 2000px auto, 100% 100%;
    padding: 100px 0;
}