<!-- your html code here -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
<div class="homeDinamic_RowComponents">
  <div class="container-fluid">
    <h2 class="text-center text-light"><span class="fa-solid fa-hat-wizard"></span>Principal Characters<span class="fa-solid fa-wand-sparkles"></span></h2> 
    <p class=" p-2 text-light">The Harry Potter series introduces us to a world filled with magic, adventure, and challenges, where a group of brave young people faces evil and discovers the true meaning of friendship, sacrifice, and courage.  Below, we introduce the main protagonists of this story, who become the pillars in the battle against the dark Lord Voldemort.</p>
 </div>
 
 
     <div class="container d-flex">
         <div class="row">
             <div class="col-sm-12 col-md-4">
                 <div class="m-2 card">
                     <img src="https://i.pinimg.com/736x/6e/ae/52/6eae525f22acbfb91b74329d61fcfaca.jpg" class="card-img-top" alt="imagen Harry Potter">
                     <div class="card-body">
                       <h5 class=" pb-2 card-title">Harry Potter</h5>
                       <p class=" card-text">The "Boy Who Lived," marked by his lightning-shaped scar, is a young wizard destined to face the dark Lord Voldemort, the dark wizard who killed his parents. Throughout the series, Harry shows bravery, loyalty, and a deep sense of justice, making him the central figure in the battle against evil. 🌟⚡</p>
                       <p class="card-text"><small class="text-secondary">July 31, 1980</small></p>
                     </div>
                   </div>
             </div>
             <div class="col-sm-12 col-md-4">
                 <div class="m-2 card">
                     <img src="https://static.wikia.nocookie.net/doblaje/images/b/b3/HPRonWeasley.png/revision/latest?cb=20160118151912&path-prefix=es" class="card-img-top" alt="imagen Ron Weasley">
                     <div class="card-body">
                       <h5 class=" pb-2 card-title">Ron Weasley</h5>
                       <p class="card-text">Loyal, brave, and always ready to support his friends, Ron is Harry and Hermione’s faithful companion. Though he sometimes feels overshadowed by Harry’s fame or Hermione’s brilliance, Ron consistently proves to be a cornerstone in the battle against evil, showing that courage isn’t always about greatness, but about the heart. 💥🦸‍♂️</p>
                       <p class="card-text"><small class="text-secondary">1 March, 1980</small></p>
                     </div>
                   </div>
             </div>
               <div class="col-sm-12 col-md-4">
                 <div class="m-2 card">
                     <img src="https://storage.googleapis.com/pod_public/750/114409.jpg" class="card-img-top" alt="imagen Hermione Granger">
                     <div class="card-body">
                       <h5 class="pb-2 card-title">Hermione Granger</h5>
                       <p class="card-text">Brilliant, determined, and brave, Hermione is Harry’s best friend and one of the most exceptional students at Hogwarts. Her intelligence, combined with her relentless commitment to doing what’s right, makes her a key player in the fight against dark forces. Her loyalty and strong sense of justice make her a beloved heroine. 🌟📚</p>
                       <p class="card-text"><small class="text-secondary">19 semptember, 1980</small></p>
                     </div>
                   </div>
                 </div>
             </div>
               </div>
</div>

        