<!-- your html code here -->
<div class="text-center">
  <div class="position-relative">
      <img class="d-block mx-auto card-img" src="https://wallpapercave.com/wp/wp10110640.jpg"
          alt="imagen de harry potter">
      <div class="card-img-overlay d-flex flex-column justify-content-center">
          <h1
              class="texto-descriptivo display-5 display-md-4 display-lg-3 fw-bold text-body-emphasis mb-4 bg-primary">
              "Draco dormiens nunquam titillandus"
          </h1>
          <h4 class="lead mb-4 bg-primary">con nobleza, astucia, amor y amistad, el bien vence al mal. </h4>
      </div>
  </div>
</div>